@font-face {
  font-family: Audiowide;
  font-display: swap;
  src: url("../fonts/Audiowide-Regular.woff2") format("woff2"), url("../fonts/Audiowide-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DMMono;
  font-display: swap;
  src: url("../fonts/DMMono-Regular.woff2") format("woff2"), url("../fonts/DMMono-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* console log  */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
}

body.active {
  overflow: hidden;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

.header,
.footer {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  width: clamp(320px, 100%, 1440px);
  margin: 0 auto;
}

.btns {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.paragraphs {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

@-webkit-keyframes longSlide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes longSlide {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }

  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

/* ########################################################## */

.burger-menu-icon {
  display: none;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 25;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger-menu-icon span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 9px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.burger-menu-icon span.active {
  background: #fff;
}

.burger-menu-icon:hover > span {
  background-color: #fff;
}

.burger-menu-icon span:first-child {
  top: 0px;
}

.burger-menu-icon span:last-child {
  top: auto;
  bottom: 0px;
}

.burger-menu-icon.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.burger-menu-icon.active span:first-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 9px;
}

.burger-menu-icon.active span:last-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: 9px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__navigation {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav__logo {
  width: 123px;
  height: 32px;
}

.nav__logo img {
  width: 100%;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.nav__links.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.link {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  color: #8DFD1B;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.social li {
  width: 36px;
  height: 36px;
  background: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social li:hover {
  background: #8DFD1B;
}

.social__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  font-size: 20px;
  color: #000000;
}

/* ########################################################## */

/* Meta */

.meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meta__discription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 76px;
}

.meta__discription-title {
  font-family: "Audiowide", sans-serif;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 480px;
}

.meta__discription-info {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 43px 0 115px;
  max-width: 340px;
}

.meta__discription-button {
  width: 205px;
  height: 60px;
  background: #8DFD1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meta__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 870px;
          flex: 0 1 870px;
  max-width: 100%;
}

.meta__image-img {
  max-width: 100%;
}

/* ########################################################## */

/* Wave NFT */

.wave-nft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 125px 0 0 0;
}

.wave__nfts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1160px;
          flex: 0 1 1160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 40px;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.left img {
  max-width: 100%;
}

.left__title,
.sub__title {
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 0 66px;
}

.sub__title {
  color: #A8A8A8;
  max-width: 351px;
}

.left__img {
  margin: 41px 0 0 0;
}

.right__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 580px;
}

.right__block-title {
  font-family: "DMMono", sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  border-left: 2px #8DFD1B solid;
  padding: 0 0 0 20px;
  margin: 0 0 18px 0;
}

.right__block-disc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 9px 0;
}

.right__block-btn {
  margin: 11px 0 0 0;
  width: 246px;
  height: 42px;
  border: 2px solid #8DFD1B;
  color: #ffffff;
}

/* ########################################################## */

/* Artists */

.artists {
  width: 100%;
  overflow: hidden;
  margin: 113px 0 0 0;
}

.artists__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 394px;
  -webkit-animation: longSlide 120s linear infinite;
          animation: longSlide 120s linear infinite;
  /* transform: translateX(-191px); */
  margin: 0 0 121px 0;
}

.artists__header-artist {
  font-family: "Audiowide", sans-serif;
  font-size: 79px;
  line-height: 88px;
  text-transform: uppercase;
  color: #ffffff;
}

.artists__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1160px;
  gap: 60px;
  margin: 0 0 0 40px;
}

.artists__block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.artists__block-card .card__img {
  width: 245px;
  height: 245px;
}

.card__artist {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 20px 0;
}

/* ########################################################## */

/* Storys */

.storys {
  max-width: 1160px;
  margin: 238px 0 0 40px;
}

.storys__title {
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #A8A8A8;
  margin: 0 0 61px 0;
}

.storys__title span {
  color: #ffffff;
}

.storys__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.storys__tabs-nav {
  max-height: 2px;
}

.tab {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 25px 134px 31px 28px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tab:hover {
  background: #111111;
}

.tab.active {
  color: #8DFD1B;
  background: #222222;
}

.storys__tabs-info {
  background: #222222;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 878px;
          flex: 0 1 878px;
  min-height: 538px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
  display: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.storys__tabs-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__img {
  margin: 60px 0 0 60px;
}

.info__discriptions {
  max-width: 494px;
}

.info__discriptions-title {
  font-family: "DMMono", sans-serif;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  border-left: 2px #8DFD1B solid;
  padding: 0 0 0 21px;
  margin: 71px 0 23px 0;
}

.info__discriptions-text:last-child {
  margin: 0 0 76px 0;
}

.info__discriptions-text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 9px 0;
}

/* ########################################################## */

.no-webp .guitar {
  background: url("./../img/bg_gutair.jpg") center/130% auto no-repeat; }

.guitar {
  margin: 120px 0;
  width: 100%;
  height: 240px;
}

/* ########################################################## */

/* Roadmap */

.roadmap {
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 0 245px 0;
}

.roadmap__title {
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 106px 0;
}

.roadmap__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.roadmap__cards-card {
  background: #222222;
  max-width: 540px;
  margin: 0 auto;
  border: 2px solid #8DFD1B;
  position: relative;
}

.no-webp .roadmap__cards-card:before {
  background: url("../img/green_circle.png") center/cover no-repeat; }

.roadmap__cards-card:before {
  content: "";
  position: absolute;
  width: 672px;
  height: 672px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 672px;
          flex: 0 1 672px;
  z-index: -1;
}

.roadmap__cards-card:nth-child(1):before {
  left: -480px;
  top: -380px;
}

.roadmap__cards-card:nth-child(3):before {
  right: -430px;
  top: -300px;
}

.roadmap__cards-card:nth-child(5):before {
  left: -430px;
  bottom: -280px;
}

.card__header {
  border-bottom: 2px solid #8DFD1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__header-number {
  font-family: "DMMono", sans-serif;
  font-size: 28px;
  line-height: 28px;
  color: #8DFD1B;
  width: 41px;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #8DFD1B;
  margin: 0 12px;
}

.card__header-number.active {
  background: #8DFD1B;
  color: #000000;
}

.phase {
  font-family: "DMMono", sans-serif;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.phase__period {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
}

.card__body {
  font-family: "Inter", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__body-left {
  margin: 32px 0 0 0;
}

.left__top {
  margin: 0 0 0 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.top__txt {
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
}

.left__bot {
  margin: 32px 0 32px 12px;
}

.bot__txt {
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
}

.bot__txt a {
  color: #8DFD1B;
  display: inline-block;
}

.card__body-right {
  margin: 30px 12px;
}

.right__img {
  border-radius: 10px;
}

.rectangle {
  width: 1px;
  height: 40px;
  background: #8DFD1B;
  margin: 45px auto 55px;
}

/* ########################################################## */

/* Partners */

.partners {
  margin: 0 0 245px 40px;
  max-width: 1160px;
}

.partners__block-title {
  font-family: "DMMono", sans-serif;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
  text-align: center;
  margin: 0 0 50px 0;
}

.partners__block-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 85px;
}

/* ########################################################## */

/* Questions */

.questions {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.questions__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__left-title {
  font-family: "Audiowide", sans-serif;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

.questions__left-title span {
  color: #A8A8A8;
}

.questions__left-img img {
  max-width: 100%;
  margin: 51px 0 0 0;
}

.questions__accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
  max-width: 580px;
}

.questions__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: #222222;
}

.questions__right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 30px;
  position: relative;
  z-index: 2;
  background: #222222;
  cursor: pointer;
}

.question__title {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  pointer-events: none;
}

.question__btn {
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: relative;
  pointer-events: none;
}

.question__btn span {
  position: absolute;
  background: #000000;
  width: 90%;
  height: 2px;
  top: 8px;
  left: 5%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  pointer-events: none;
}

.question__btn span:first-child {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.questions__right-header.active > .question__btn span:first-child {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.questions__body {
  max-width: 514px;
  margin: 0 35px 0 31px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.questions__body-text {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 19px;
  color: #C4C4C4;
  margin: 0 0 29px 0;
}

/* ########################################################## */

/* Team */

.team {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 115px 0 0 0;
}

.team__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 255px;
  -webkit-animation: longSlide 120s linear infinite;
          animation: longSlide 120s linear infinite;
  /*  transform: translateX(66px); */
  margin: 0 0 121px 0;
}

.team__title-title {
  font-family: "Audiowide", sans-serif;
  font-size: 79px;
  line-height: 88px;
  text-transform: uppercase;
  color: #ffffff;
}

.team__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.team__block-card {
  width: 320px;
  height: 552px;
}

.team__block-card .card__img {
  max-width: 100%;
  min-height: 320px;
}

.team__block-card img {
  max-width: 100%;
}

.card__name {
  font-family: "DMMono", sans-serif;
  font-size: 21px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 19px 0 18px;
}

.card__position {
  font-family: "DMMono", sans-serif;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.card__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin: 22px 0;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  background: #ffffff;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card__social a:hover {
  background: #8DFD1B;
}

.card__discription {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  padding: 0 40px;
}

/* ########################################################## */

/* Join */

.join {
  margin: 236px 0 118px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.join__left-title {
  font-family: "Audiowide", sans-serif;
  font-size: 51px;
  line-height: 61px;
  text-transform: uppercase;
  color: #ffffff;
}

.join__left-title span {
  color: #8DFD1B;
}

.join__left-discription {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin: 35px 0;
  max-width: 345px;
}

.join__left-button {
  width: 213px;
  height: 43px;
  background: #8DFD1B;
}

.join__left-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9px;
  width: 100%;
  height: 100%;
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
}

.join__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.join__right-img {
  max-width: 100%;
}

/* ########################################################## */

/* Footer */

.footer {
  width: 100%;
  min-height: 338px;
  background: #42006A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block {
  margin: 0 auto;
  max-width: 1160px;
  min-height: 137px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}

.footer__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rights {
  font-family: "DMMono", sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__nav:nth-child(4) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 50px;
}

.footer__nav-link {
  font-family: "DMMono", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__nav-link:hover {
  color: #8DFD1B;
}

.footer__nav-prod {
  font-family: "DMMono", sans-serif;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-prod .footer__nav-link {
  font-size: 13px;
  line-height: 13px;
}

/* ########################################################## */

@media (max-width: 1300px) {
  .meta__discription-title {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 1200px) {
  .header__navigation {
    padding: 0px 20px;
  }

  .artists__block {
    gap: 45px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .questions {
    padding: 0 30px;
  }
}

@media (max-width: 1090px) {
  .meta {
    padding: 0 20px;
  }

  .meta__discription {
    margin: 0 0 0 0;
  }

  .left__title,
  .sub__title {
    font-size: 32px;
  }

  .right__block {
    max-width: 450px;
  }

  .right__block-title {
    font-size: 18px;
  }

  .right__block-disc {
    font-size: 14px;
    line-height: 20px;
  }

  .artists__header {
    margin: 0 0 100px 0;
  }

  .artists__header-artist {
    font-size: 69px;
    line-height: 75px;
  }

  .storys {
    margin: 100px 0 0 40px;
  }

  .storys__title {
    font-size: 32px;
  }

  .tab {
    padding: 25px 34px 31px 28px;
    width: 100%;
  }

  .storys__tabs-info {
    min-height: 438px;
  }

  .info__discriptions-title {
    font-size: 18px;
  }

  .info__discriptions-text {
    font-size: 14px;
    line-height: 20px;
  }

  .guitar {
    margin: 100px 0;
  }

  .roadmap__title {
    font-size: 32px;
    margin: 0 0 100px 0;
  }

  .questions__left-title {
    font-size: 32px;
  }

  .team {
    margin: 100px 0 0 0;
  }

  .team__title {
    margin: 0 0 100px 0;
  }

  .team__title-title {
    font-size: 69px;
    line-height: 75px;
  }

  .team__block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .team__block-card .card__img {
    min-height: 240px;
  }

  .team__block-card {
    width: 240px;
    height: 480px;
  }

  .join {
    margin: 100px 0;
  }

  .join__left-title {
    font-size: 45px;
  }

  .join__left-button a {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__block {
    gap: 20px 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .meta__discription-title {
    line-height: 50px;
    font-size: 45px;
    min-width: 400px;
  }

  .meta__discription-info {
    margin: 40px 0 85px;
  }

  .wave-nft {
    padding: 0 20px;
    margin: 100px 0 0 0;
  }
}

@media (max-width: 972px) {
  .storys__tabs-info {
    min-height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 678px;
            flex: 0 1 678px;
  }

  .info__img {
    margin: 30px 0 0 30px;
  }

  .info__discriptions-title {
    padding-right: 20px;
    margin: 30px 0 23px 0;
  }

  .info__discriptions-text:last-child {
    margin: 0 0 30px 0;
  }

  .info__discriptions-text {
    padding-right: 20px;
  }

  .roadmap {
    margin: 0 0 100px 0;
  }

  .partners {
    margin: 0 0 100px 40px;
  }
}

@media (max-width: 930px) {
  .question__title {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .meta__discription-title {
    line-height: 40px;
    font-size: 35px;
    min-width: 300px;
  }

  .join__left-title {
    line-height: 40px;
    font-size: 35px;
  }
}

@media (max-width: 860px) {
  .left__title,
  .sub__title {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 830px) {
  .questions__right-header {
    padding: 0 10px 0 15px;
  }
}

@media (max-width: 800px) {
  .partners__block-logos {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .burger-menu-icon {
    display: block;
    position: fixed;
  }

  .nav__links {
    position: fixed;
    z-index: 20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(-102%);
        -ms-transform: translateX(-102%);
            transform: translateX(-102%);
    background: #222222;
    top: 0;
    left: 0;
    width: 300px;
    height: 500px;
    padding: 80px 0 0 30px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .link {
    font-size: 22px;
    line-height: 16px;
  }

  .link:hover {
    color: #ffffff;
  }

  .no-webp .meta {
    background: url("../img/start_scr_wave.jpg") 100% 0/contain no-repeat; }

  .meta__discription-title {
    max-width: 300px;
  }

  .meta__image {
    display: none;
  }

  .wave-nft {
    margin: 50px 0 0 0;
  }

  .wave__nfts-block {
    margin: 0 0 0 0;
  }

  .left img {
    max-width: 90%;
  }

  .right__block-title {
    line-height: 22px;
  }

  .artists {
    margin: 50px 0 0 0;
  }

  .artists__header {
    margin: 0 0 50px 0;
    gap: 294px;
  }

  .artists__header-artist {
    font-size: 50px;
    line-height: 60px;
  }

  .artists__block {
    margin: 0;
  }

  .storys {
    margin: 50px 0 0 20px;
  }

  .info__discriptions-title {
    line-height: 22px;
  }

  .guitar {
    height: 170px;
    margin: 50px 0;
  }

  .roadmap__title {
    margin: 0 0 50px 0;
  }

  .questions__left-img img {
    max-width: 100%;
  }

  .team {
    margin: 50px 0 0 0;
  }

  .team__title {
    margin: 0 0 50px 0;
    gap: 155px;
  }

  .team__title-title {
    font-size: 50px;
    line-height: 60px;
  }

  .join {
    padding: 0 20px;
  }

  .join__right-img {
    max-width: 90%;
  }
}

@media (max-width: 762px) {
  .footer__nav {
    gap: 15px;
  }

  .footer__nav:nth-child(4) {
    gap: 15px;
  }
}

@media (max-width: 720px) {
  .partners {
    margin: 0 0 60px 0px;
  }

  .partners__block-logos {
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 650px) {
  .meta__discription-info {
    margin: 40px 0;
  }

  .meta__discription-button {
    width: 180px;
    height: 40px;
  }

  .join__left-button {
    width: 180px;
    height: 40px;
  }
}

@media (max-width: 640px) {
  .right__block-btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .storys__tabs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .storys__tabs-nav {
    max-height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .tab {
    padding: 25px 0 31px 20px;
  }

  .storys__tabs-info {
    min-height: auto;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .questions__left {
    display: inline;
    text-align: center;
  }

  .questions__left-title {
    display: inline;
  }

  .questions__left-img img {
    max-width: 50%;
  }

  .questions__accordion {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 630px) {
  .wave__nfts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .left img {
    max-width: 50%;
  }

  .left__title,
  .sub__title {
    text-align: center;
    margin: 0 0 0 0px;
  }

  .sub__title {
    max-width: 100%;
  }

  .left__img {
    margin: 21px 0 0 0;
  }
}

@media (max-width: 590px) {
  .join__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 550px) {
  .storys {
    margin: 50px 0 0 0px;
  }

  .storys__tabs-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 20px;
  }

  .info__img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 0 20px 0;
  }

  .info__discriptions-text:last-child {
    margin: 0 0 0 0;
  }

  .roadmap__cards {
    padding: 0 20px;
  }
}

@media (max-width: 540px) {
  .meta__discription-title {
    line-height: 35px;
    font-size: 27px;
  }

  .meta__discription-info {
    font-size: 13px;
    line-height: 20px;
    margin: 20px 0;
    max-width: 260px;
  }

  .join__left-title {
    line-height: 35px;
    font-size: 27px;
  }

  .join__left-discription {
    font-size: 13px;
    line-height: 20px;
    margin: 20px 0;
  }
}

@media (max-width: 492px) {
  .footer__block-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__nav:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .social {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}

@media (max-width: 425px) {
  .right__block-title {
    line-height: 22px;
    font-size: 16px;
  }

  .tab {
    padding: 20px 0 20px 15px;
    font-size: 14px;
  }

  .info__discriptions-title {
    line-height: 22px;
    font-size: 16px;
  }

  .guitar {
    height: 100px;
  }
}

@media (max-width: 320px) {
  .burger-menu-icon {
    right: 53px;
  }
}

.webp .guitar { background: url(./../img/bg_gutair.webp) center/130% auto no-repeat; }

.webp .roadmap__cards-card:before { background: url(../img/green_circle.webp) center/cover no-repeat; }

@media (max-width: 768px) {

  .webp .meta { background: url(../img/start_scr_wave.webp) 100% 0/contain no-repeat; }
}